<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.listatareas.adrigimenez"
    versionCode = "1"
    version     = "0.0.1" >
	<icon src="lista.png" width="57" height="57" density="mdpi" />
    
  <name>Lista Tareas</name>
  <description>
      Lista de tareas
  </description>
  <author href="https://www.linkedin.com/in/adrian-gimenez-dev" email="adrianggras@gmail.com">
      Adrián Giménez Gras
  </author>
  <access origin="*" />
  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-vibration" />
  <plugin name="cordova-plugin-x-socialsharing" spec="5.4.0" />
</widget>